.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--orange);
  background-color: var(--dk-blue);
}

.name {
  text-align: center;
  width: 100%;
  margin-top: 60px;
  font-size: 5rem;
  letter-spacing: 0.188rem;
  line-height: 4rem;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  color: var(--whitish);
  font-variant: small-caps;
  font-style: italic;
  font-size: 1.75rem;
  letter-spacing: 0.125rem;
  font-weight: 400;
}

.listContainer {
  margin-top: 2rem;
  width: 100%;
  padding: 0 20px;
}

.contactLinkRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.75rem;
}

.lightSmallCapsItalic {
  font-weight: 100;
  font-size: 1.5rem;
  font-style: italic;
  font-variant: small-caps;
  color: var(--whitish);
  letter-spacing: 0.125rem;
}

.leaderDots {
  width: 100%;
  border-bottom: 2px dotted var(--orange);
}

.contactLink1 {
  text-align: right;
  font-size: 1rem;
  letter-spacing: 0.063rem;
}

.contactLink {
  text-align: right;
  font-size: 1rem;
  letter-spacing: 0.063rem;
}

.contactLink1 {
  width: 85%;
  text-align: right;
  font-size: 1rem;
  letter-spacing: 0.063rem;
}

.stackContainer {
  display: flex;
  justify-content: space-between;
}

.column {
  margin-top: 1.5rem;
  padding: 10px;
}

ul {
  list-style-position: inside;
  /* margin-bottom: 2rem; */
}

li {
  margin-top: 1rem;
  list-style-type: '>';
}

.spacer {
  margin-top: 2rem;
}
