.eduContainer {
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

.name {
  font-variant: small-caps;
}

.date {
  margin-top: 0.5rem;
  font-weight: 200;
  font-size: 1.25rem;
  font-style: italic;
  letter-spacing: 0.125rem;
  margin-bottom: -0.5rem;
}

.eduUl {
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}

.eduList {
  font-weight: 200;
  letter-spacing: 0.125rem;
  font-size: 1.25rem;
  line-height: 1.375rem;
}

.degree {
  margin-top: 0.75rem;
  font-weight: 200;
  letter-spacing: 0.125rem;
  font-size: 1.25rem;
}
